build/*
build
/build
/build/*
googletest
build/banka_app
build/cmake_install.cmake
build/CMakeCache.txt
build/libbanka_lib.a
build/Makefile
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/banka_app.dir/build.make
build/CMakeFiles/banka_app.dir/cmake_clean.cmake
build/CMakeFiles/banka_app.dir/CXX.includecache
build/CMakeFiles/banka_app.dir/depend.internal
build/CMakeFiles/banka_app.dir/depend.make
build/CMakeFiles/banka_app.dir/DependInfo.cmake
build/CMakeFiles/banka_app.dir/flags.make
build/CMakeFiles/banka_app.dir/main.cpp.o
build/CMakeFiles/banka_lib.dir/build.make
build/CMakeFiles/banka_lib.dir/cmake_clean.cmake
build/CMakeFiles/banka_lib.dir/CXX.includecache
build/CMakeFiles/banka_lib.dir/depend.internal
build/CMakeFiles/banka_lib.dir/depend.make
build/CMakeFiles/banka_lib.dir/DependInfo.cmake
build/CMakeFiles/banka_lib.dir/flags.make
build/CMakeFiles/banka_lib.dir/src/Banka.cpp.o
build/CMakeFiles/banka_lib.dir/src/Bankomat.cpp.o
build/CMakeFiles/banka_lib.dir/src/Oseba.cpp.o
